[submodule "ext/gridtools"]
    path = ext/gridtools
    url = https://github.com/stubbiali/gridtools.git
    tag = identify-crayclang-as-clang
[submodule "ext/googletest"]
    path = ext/googletest
    url = https://github.com/google/googletest.git
    tag = v1.14.0
[submodule "ext/oomph"]
    path = ext/oomph
    url = https://github.com/stubbiali/oomph.git
    branch = fix-build-on-lumi
